* {
    margin: 0;
    padding: 0
}

/* login component */ 
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.login-container button {
    display: block
}

.login-container p:nth-of-type(1) {
    display: inline-block;
}

.login-input {
    display: block;
}

.login-signup {
    text-decoration: underline;
    color: blue;
    cursor: pointer; 
    display: inline
}

/* SignupModal component */
.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 450px;
  height: 250px;
  background-color: lightskyblue;
}

.signup-input {
    display:block
}


